@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b4l5i1');
  src:  url('fonts/icomoon.eot?b4l5i1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b4l5i1') format('truetype'),
    url('fonts/icomoon.woff?b4l5i1') format('woff'),
    url('fonts/icomoon.svg?b4l5i1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sim_card_alert:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-compass:before {
  content: "\e949";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-mail2:before {
  content: "\ea84";
}
