

*
{
    margin: 0;
    padding: 0;
}

body
{
background: rgba(0,0,0,.9);
}


.contenedor
{


border: 1px solid red;

margin: 50px;

height: 1000px;

}



.fila1
{
     border: 1px solid yellow;
    /* display: grid;  */
    height: 5cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

.fila1_columna1
{
    border: 1px solid greenyellow;
    width: 14%; 
    
}

.fila1_columna2
{
    border: 1px solid blue;
    width: 36%;
}

.fila1_columna3
{
    border: 1px solid blue;
    width: 25%;
}

.fila1_columna4
{
    border: 1px solid blue;
    width: 25%;
}





.fila2
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 5cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 .fila2_columna1
{
    border: 1px solid greenyellow;
    width: 14%; 
 
}

.fila2_columna2
{
    border: 1px solid blue;
    width: 36%;
}

.fila2_columna3
{
    border: 1px solid blue;
    width: 25%;
}

.fila2_columna4
{
    border: 1px solid blue;
    width: 25%;
} 





.fila3
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 .fila3_columna1
{
    border: 1px solid greenyellow;
    width: 14%; 
 
}

.fila3_columna2
{
    border: 1px solid blue;
    width: 36%;
}

.fila3_columna3
{
    border: 1px solid blue;
    width: 25%;
}

.fila3_columna4
{
    border: 1px solid blue;
    width: 25%;
}




.fila4
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 .fila4_columna1
{
    border: 1px solid greenyellow;
    width: 14%; 
 
}

.fila4_columna2
{
    border: 1px solid blue;
    width: 36%;
}

.fila4_columna3
{
    border: 1px solid blue;
    width: 25%;
}

.fila4_columna4
{
    border: 1px solid blue;
    width: 25%;
} 






.fila5
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 .fila5_columna1
{
    border: 1px solid greenyellow;
    width: 14%; 
 
}

.fila5_columna2
{
    border: 1px solid blue;
    width: 36%;
}

.fila5_columna3
{
    border: 1px solid blue;
    width: 25%;
}

.fila5_columna4
{
    border: 1px solid blue;
    width: 25%;
} 




.fila6
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 .fila6_columna1
{
    border: 1px solid greenyellow;
    width: 14%; 
 
}

.fila6_columna2
{
    border: 1px solid blue;
    width: 36%;
}

.fila6_columna3
{
    border: 1px solid blue;
    width: 25%;
}

.fila6_columna4
{
    border: 1px solid blue;
    width: 25%;
} 




@media(max-width : 560px)
     {



        .contenedor
        {
        border: 1px solid red;
margin: 50px 25px;
        

        height: 1000px;
        }



        .fila1
        {
            border: 1px solid yellow;
            /* display: grid;  */
            height: 150px;           
            display: flex ;
            /* grid-template-columns: 1fr 1fr;      */
            color: white;
            text-align: center;       
        }

        .fila1_columna1
        {
            border: 1px solid greenyellow;
            width: 100%; 
            
        }

        .fila1_columna2
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila1_columna3
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila1_columna4
        {
            border: 1px solid blue;
            width: 50%;
        }





        .fila2
        {
            /* border: 1px solid yellow;
            display: grid; */
            
            height: 150px;         
            display: flex ;
            /* grid-template-columns: 1fr 1fr;      */
            color: white;
            text-align: center;       
        }

        .fila2_columna1
        {
            border: 1px solid greenyellow;
            width: 50%; 
        
        }

        .fila2_columna2
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila2_columna3
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila2_columna4
        {
            border: 1px solid blue;
            width: 50%;
        } 





        .fila3
        {
            /* border: 1px solid yellow;
            display: grid; */
            
            height: 150px;           
            display: flex ;
            /* grid-template-columns: 1fr 1fr;      */
            color: white;
            text-align: center;       
        }

        .fila3_columna1
        {
            border: 1px solid greenyellow;
            width: 50%; 
        
        }

        .fila3_columna2
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila3_columna3
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila3_columna4
        {
            border: 1px solid blue;
            width: 50%;
        }




        

        .fila4
        {
            /* border: 1px solid yellow;
            display: grid; */
            
            height: 150px;           
            display: flex ;
            /* grid-template-columns: 1fr 1fr;      */
            color: white;
            text-align: center;       
        }

        .fila4_columna1
        {
            border: 1px solid greenyellow;
            width: 50%; 
        
        }

        .fila4_columna2
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila4_columna3
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila4_columna4
        {
            border: 1px solid blue;
            width: 50%;
        }





        .fila5
        {
            /* border: 1px solid yellow;
            display: grid; */
            
            height: 150px;           
            display: flex ;
            /* grid-template-columns: 1fr 1fr;      */
            color: white;
            text-align: center;       
        }

        .fila5_columna1
        {
            border: 1px solid greenyellow;
            width: 50%; 
        
        }

        .fila5_columna2
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila5_columna3
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila5_columna4
        {
            border: 1px solid blue;
            width: 50%;
        }





        .fila6
        {
            /* border: 1px solid yellow;
            display: grid; */
            
            height: 150px;           
            display: flex ;
            /* grid-template-columns: 1fr 1fr;      */
            color: white;
            text-align: center;       
        }

        .fila6_columna1
        {
            border: 1px solid greenyellow;
            width: 50%; 
        
        }

        .fila6_columna2
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila6_columna3
        {
            border: 1px solid blue;
            width: 50%;
        }

        .fila6_columna4
        {
            border: 1px solid blue;
            width: 50%;
        }
     }