

*
{
    margin: 0;
    padding: 0;
}

body
{
background: rgba(0,0,0,.9);
}


.contenedor_origen
{
    border: 0;
    padding: 0;
     width: 100%; 
     max-width: 100%;
     height: 250px;
    overflow: hidden;
    /* border: 1px solid green; */
     margin: auto auto; 
    /* padding:  20px;  */
    background: red; 
}

.contenedor
{


border: 1px solid red;

width: 70%;
margin: 0 auto;


/* height: 1000px; */


}



.fila1
{
    
     border: 1px solid yellow;
    /* display: grid;  */
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

.fila1_columna1
{
    border: 1px solid greenyellow;
    width: 25%; 
    
}

.fila1_columna2
{
    border: 1px solid blue;
    width: 25%;
    
}

.fila1_columna3
{
    border: 1px solid blue;
    width: 100%;
    text-align: justify;
    overflow: scroll;
}

.fila1_columna4
{
    border: 1px solid blue;
    width: 40%;
  font-size: 24px;
    /* max-width: 20%; */
    
}

.numero_tarjeta
{
    width: 100%;
    height: 100%;

   
   
    background: hotpink;
}

.secciones
{
    height: 100%;
    max-height: 24%;
    border: 1px solid black;
    padding-top: 20px;
    
    /* border-bottom: 1px solid blue; */
}

.fila1_columna4 .boton input[type="submit"]
{
 
margin: 0%;
padding: 0%;
width: 100%;

height: 75px;
border-bottom: none;


/* margin: 0 10%;*/
/* background: thistle;
color: black;
font-size: 18px; */
/* border-radius: 20px;*/
}

.fila1_columna4 .boton:hover input[type="submit"]
    {
        background: white;
    }



.fila2
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 /* .fila2_columna1
{
    border: 1px solid greenyellow;
    width: 37%; 
 
} */

/* .fila2_columna2
{
    border: 1px solid blue;
    width: 100%;
} */

.fila2_columna3
{
    border: 1px solid blue;
    width: 100%;
    overflow: scroll;
}

.fila2_columna4
{
    border: 1px solid blue;
    width: 100%;
} 





.fila3
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 /* .fila3_columna1
{
    border: 1px solid greenyellow;
    width: 37%; 
 
} */

/* .fila3_columna2
{
    border: 1px solid blue;
    width: 100%;
} */

.fila3_columna3
{
    border: 1px solid blue;
    width: 100%;
    text-align: justify;
    overflow: scroll;
}

.fila3_columna4
{
    border: 1px solid blue;
    width: 100%;
}




.fila4
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 /* .fila4_columna1
{
    border: 1px solid greenyellow;
    width: 37%; 
 
} */

/* .fila4_columna2
{
    border: 1px solid blue;
    width: 100%;
} */

.fila4_columna3
{
    border: 1px solid blue;
    width: 100%;
}

.fila4_columna4
{
    border: 1px solid blue;
    width: 100%;
} 






.fila5
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center;       
}

 /* .fila5_columna1
{
    border: 1px solid greenyellow;
    width: 37%; 
 
} */
/* 
.fila5_columna2
{
    border: 1px solid blue;
    width: 100%;
} */

.fila5_columna3
{
    border: 1px solid blue;
    width: 100%;
}

.fila5_columna4
{
    border: 1px solid blue;
    width: 100%;
} 




.fila6
{
    /* border: 1px solid yellow;
    display: grid; */
    
    height: 6cm;           
    display: flex ;
    /* grid-template-columns: 1fr 1fr;      */
     color: white;
     text-align: center; 
    
}

 /* .fila6_columna1
{
    border: 1px solid greenyellow;
    width: 37%; 
} */

/* .fila6_columna2
{
    border: 1px solid blue;
    width: 100%;
} */

.fila6_columna3
{
    border: 1px solid blue;
    width: 100%;
}

.fila6_columna4
{
    border: 1px solid blue;
    width: 100%;    
} 

.contenedor .fila1 .fila1_columna4 .numero_tarjeta .btn-abrir-popup ,.btn-abrir-popup2
{
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: whitesmoke;
    background: mediumpurple;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}


/* POPUP 1*/

.contenedor .fila1 .fila1_columna4 .numero_tarjeta .btn-abrir-popup:hover 
{
    background: rgb(158, 128, 218);
}

.overlay
{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
    /* ^
       |
    Este comando centra todo lo que tiene  */
    /* text-align: justify; */

    visibility: hidden;
     /* ^
       |
    Este comando oculta todo el contenedor  */
}



.overlay.active{
   visibility: visible;
} 

.popup
{
   background: whitesmoke;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
   border-radius: 3px;
   font-family: 'Montserrat' , sans-serif;
   padding: 20px;
   text-align: center;
   width: 600px;

   transition: .3s ease all;
   transform: scale(0.7);
   opacity: 0;
/* se agrega despues de haber realizado el java */


}
  
.popup .btn-cerrar-popup
{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;

}

.popup .btn-cerrar-popup:hover
{
    color: black;
}


.popup h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

/* -------- */

/* animate*/

.popup.active {opacity: 1; transform: scale(1);}
.popup.active h3 {animation: entradaTitulo .8s ease .5s forwards ;}

@keyframes entradaTitulo{
    from{
        transform:translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ----- */






/* POPUP 2*/

.contenedor .fila1 .fila1_columna4 .numero_tarjeta .btn-abrir-popup2:hover 
{
    background: rgb(158, 128, 218);
}

.overlay2
{
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
    /* ^
       |
    Este comando centra todo lo que tiene  */
    /* text-align: justify; */

    visibility: hidden;
     /* ^
       |
    Este comando oculta todo el contenedor  */
}



.overlay2.active{
   visibility: visible;
} 

.popup2
{
   background: whitesmoke;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
   border-radius: 3px;
   font-family: 'Montserrat' , sans-serif;
   padding: 20px;
   text-align: center;
   width: 600px;

   transition: .3s ease all;
   transform: scale(0.7);
   opacity: 0;
/* se agrega despues de haber realizado el java */


}
  
.popup2 .btn-cerrar-popup2
{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;

}

.popup2 .btn-cerrar-popup2:hover
{
    color: black;
}


.popup2 h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

/* -------- */

/* animate 2*/

.popup2.active {opacity: 1; transform: scale(1);}
.popup2.active h3 {animation: entradaTitulo .8s ease .5s forwards ;}

@keyframes entradaTitulo{
    from{
        transform:translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ----- */




@media(max-width : 560px)
     {


        .contenedor_origen
        {
            border: 0;
            padding: 0;
             width: 100%; 
             height: 250px;
            overflow: hidden;
            /* border: 1px solid green; */
             margin: auto auto; 
            /* padding:  20px;  */
            background: red; 
        }



        .contenedor
        {                
        border: 1px solid red;
        
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
                
        /* height: 1000px; */
                
        }



        .fila1
        {
            
             border: 1px solid yellow;
            /* display: grid;  */
            height: 5cm;           
            display: flex ;
            /* grid-template-columns: 1fr 1fr;      */
             color: white;
             text-align: center;       
        }
        
        .fila1_columna1
        {
            border: 1px solid greenyellow;
            width: 500px; 
            
            
        }

        .fila1_columna2
        {
            border: 1px solid blue;
            width: 500px;
            
        }

        .fila1_columna4
        {
            border: 1px solid blue;
            width: 40%;
            font-size: 18px;
            /* max-width: 20%; */
            
        }
        




        .fila1_columna4
        {
            border: 1px solid blue;
            width: 40%;
            font-size: 18px;
            /* max-width: 20%; */
            
        }
        
        .numero_tarjeta
        {
            width: 100%;
            height: 100%;
            background: hotpink;
        }
        
        .secciones
        {
            height: 100%;
            max-height: 24%;
            border: 1px solid black;
            padding-top: 20px;
            
            /* border-bottom: 1px solid blue; */
        }
        
        .fila1_columna4 .boton input[type="submit"]
        {
         
        margin: 0%;
        padding: 0%;
        width: 100%;
        
        height: 55px;
        border-bottom: none;
                
        }
        
        .fila1_columna4 .boton:hover input[type="submit"]
            {
                background: white;
            }






     }



     @media(max-width : 320px)
     {

        .fila1_columna1
        {
            border: 1px solid greenyellow;
            width: 500px; 
            
            
        }

        .fila1_columna2
        {
            border: 1px solid blue;
            width: 500px;
            
        }

        .fila1_columna3
        {
            /* border: 1px solid blue;
            width: 500px; */
            display: none;
            
        }

        .fila1_columna4
        {
            border: 1px solid blue;
            width: 40%;
            font-size: 18px;
            /* max-width: 20%; */
            
        }
        
        .numero_tarjeta
        {
            width: 100%;
            height: 100%;
            background: hotpink;
        }
        
        .secciones
        {
            height: 100%;
            max-height: 24%;
            border: 1px solid black;
            padding-top: 20px;
            
            /* border-bottom: 1px solid blue; */
        }
        
        .fila1_columna4 .boton input[type="submit"]
        {
         
        margin: 0%;
        padding: 0%;
        width: 100%;
        
        height: 55px;
        border-bottom: none;
                
        }
        
        .fila1_columna4 .boton:hover input[type="submit"]
            {
                background: white;
            }


     }
